<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos</title>
</head>
<body class="creditos">

    <h1>Realizado Por:</h1>
    <h3>Simon Suken y Alex Drobas</h3>
</body>
</html>